<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- 开发版本 -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <!-- 生产版本 -->
    <!-- <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css"> -->
    <!-- 设置背景颜色 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--导入字体的css-->
    <link herf="../static/bootstrap/css/myfont.css" rel="stylesheet">
    <!-- 导入导航栏文件 -->
    <link rel="stylesheet" href="../static/bootstrap/css/navstyle.css">
    <!-- 导入富文本编辑器 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- 导入浮动评论区样式css -->
    <link rel="stylesheet" href="../static/bootstrap/css/commentfloat.css">
    <!-- 导入对话框样式css -->
    <link rel="stylesheet" href="../static/bootstrap/css/deepseek_style.css">


</head>

<body>
     <!-- 导航栏 -->
     <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- 这里先用#-->
                <a class="navbar-brand" href="#">普通的留言板</a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/board">留言板</a></li>
                    <li><a href="/PersonInfo">个人信息</a></li>
                    <li><a href="/DailyAttendance">每日签到</a></li>
                    <li><a href="#">小游戏</a></li>
                    <li><a href="/DeepSeek">DeepSeek</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 style="text-align: center; margin-top: 100px;">DeepSeek</h1>

    <!-- 对话框 -->
    <div class="mycontainer">
        <div class="leftSide">
            <!--header-->
            <div class="myheader">
                <div class="imgText">
                    <div class="userimg">
                        <img src="../static/img/user.png" class="cover">
                    </div>
                    <h4>user_id</h4>
                </div>
                
            </div>
            <!--history_time-->
            <div class="imgText">
                <div>
                    <h4>仅展示最近30天的记录</h4>
                </div>
            </div>
            <!--ChatList（待完善）-->
            <div class="chatlist">
                <div class="block active">
                    <div class="details">
                        <div class="listHead">
                            <p class="time">14:25</p>
                        </div>
                        <div class="message_p">
                            <p>hfj是不是sb？</p>
                        </div>
                    </div>
                </div>
                <div class="block unread">
                    <div class="details">
                        <div class="listHead">
                            <p class="time">15:10</p>
                        </div>
                        <div class="message_p">
                            <p>hfj真是sb吧</p>

                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <p class="time">11:15</p>
                        </div>
                        <div class="message_p">
                            <p>叫hfj何处对吗？</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>


        <div class="rightSide">
            <div class="myheader">
                <div class="imgText">
                    <div class="userimg">
                        <img src="../static/img/deepseek.png" class="cover">
                    </div>
                    <h4>DeepSeek</h4>
                </div>
            </div>
            
            <!--chatbox-->
            <div class="chatBox">
                <div class="message my_message">
                    <p>你在干嘛呢？<br><span>10:15</span> </p>
                </div>
                <div class="message frnd_message">
                    <p>上号！<br><span>10:15</span> </p>
                </div>
            </div>

            <!--chat input-->
            <div class="chatbox_input">
                <div>
                    <input type="text">
                </div>
            
            </div>
        </div>
        
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="https://beian.miit.gov.cn/" target="_blank">备案号：闽ICP备2024029524号-2</a>
    </div>
<body>
</html>